:root {
    --light-gray: hsl(233, 8%, 79%);
    --dark-gray: hsl(236, 13%, 42%);
    --white-color: hsl(36, 100%, 99%);
    --very-dark-color: hsl(240, 100%, 5%);
    --orange-color: hsl(35, 77%, 62%);
    --light-red: hsl(5, 85%, 63%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;

}

button {
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: var(--light-red);
    color: var(--very-dark-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 15px 25px;
    margin-top: 20px;
    font-weight: 600;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin-top: 80px;
    max-width: 1024px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hamburger-menu-icon {
    display: none;
}

header .desktop-menu {
    display: flex;
    gap: 36px;

    a {
        color: var(--dark-gray);
    }
}

main {
    margin-top: 60px;
    display: grid;
    gap: 24px;
    /* grid-template-areas: 'newsImg newsImg newsText'
        'newsInfo newsInfo newsInfo'; */
}

section.news-img-block {
    /* grid-area: newsImg; */

    .news-heading {

        margin-top: 24px;
    }

    .news-content p {
        line-height: 1.5;
        color: var(--dark-gray);
        max-width: 350px;

    }

    h1 {
        font-size: 36px;
        font-weight: 900;
        line-height: 1.1;
        color: var(--very-dark-color);
        max-width: 200px;
    }
}


section.news-text-block {
    /* grid-area: newsText; */
    background-color: var(--very-dark-color);
    padding: 24px;

    h2 {
        margin-top: 20px;
        color: var(--orange-color);
        font-size: 24px;
    }

    h3 {
        color: var(--white-color);
        font-size: 16px;
        margin-top: 20px;
    }

    p {
        margin-top: 16px;
        color: var(--white-color);
        font-size: 12px;
        opacity: 0.7;
        line-height: 1.5;
        font-weight: 200;
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 16px;
    }

    .new-text-item:last-child p {
        border-bottom: none;
        padding-bottom: none;
    }
}

section.news-info-block {
    /* grid-area: newsInfo; */
    margin-top: 36px;
    display: flex;
    justify-content: space-between;

    .img-block img {

        height: 110px;
        margin-right: 15px;
    }

    .news-info-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    h3 {
        font-size: 14px;
        font-weight: 900;
        margin-top: 12px;
    }

    p {
        font-size: 12px;
        color: var(--dark-gray);
        margin-top: 20px;
        line-height: 1.5;
    }
}

.news-info-block>* {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

span {
    display: inline-block;
    color: var(--light-red);
    font-size: 24px;
    font-weight: 700;
}

.attribution {
    margin-top: 36px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 500px) {
    main {
        grid-template-areas: 'newsImg newsImg newsText'
            'newsInfo newsInfo newsInfo';
    }


    section.news-img-block {
        grid-area: newsImg;
    }

    section.news-text-block {
        grid-area: newsText;
    }

    section.news-info-block {
        grid-area: newsInfo;
    }

    .news-heading {
        display: flex;

    }
}

@media (max-width: 500px) {
    .news-content {
        margin-top: 12px;
    }

    .news-info-block {
        flex-direction: column;
        gap: 24px;
    }

    header .desktop-menu {
        display: none;
    }

    header .hamburger-menu-icon {
        display: block;
    }

    .hamburger-menu-block {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* background-color: var(--white-color); */

    }

    .overlay {
        flex: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hamburger-menu-container {
        background-color: var(--white-color);
        flex: 3;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        margin-top: 80px;


        a {
            color: var(--very-dark-color);
            font-weight: 500;
            padding-left: 20px;
        }
    }

    .close-menu-icon {
        position: absolute;
        top: 20px;
        right: 20px;
    }

}